html, body {
}

.designer {
    margin-top: 60px;
    height: auto;
    overflow: hidden;
}

.dleft {
    float: left;
    width: 361px;
    position: fixed;
    margin-left: 25px;
}

.dright {
    float: left;
    width: 300px;
    position: fixed;
    right: 0;
    top: 60px;
    margin-right: 25px;
}

.dcenter {
    width: calc(100% - 680px);
    margin-left: 370px;
    margin-right:310px;
    overflow:auto;
}

.device-mockup {
    overflow-y: auto;
}

#controls-widget {
    overflow-y: auto;
}


/* Propertyes */

.property-table {
    display: table;
    border-spacing: 0px 10px;
}

.property-row {
    display: table-row;
}

.property-cell {
    display: table-cell;
}

.property-label {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    width: 30%;
}

.property-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.properties-panel {
}

iframe.app-content-frame {
    width: 100%;
    height: 100%;
}

/* Page */

.control-panel {
    margin-top: 10px;
    overflow-y: auto;
}

.pages-list {
    height: auto;
    overflow-y: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #101010;
}

/** Controls **/

.tool-item {
    width: 100px;
    background: #fbfbfb;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

    .tool-item * {
        display: table;
        margin: 0 auto;
    }


.tool-icon {
    width: 75px;
    height: 75px;
}

.tool-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
}

.tool-button {
    background: url('/Content/res/button.png') no-repeat transparent;
}

.tool-input {
    background: url('/Content/res/input.png') no-repeat transparent;
}

.tool-selection {
    background: url('/Content/res/selection.png') no-repeat transparent;
}

.tool-checkbox {
    background: url('/Content/res/checkbox.png') no-repeat transparent;
}

.tool-checkbox2 {
    background: url('/Content/res/checkbox2.png') no-repeat transparent;
}

.tool-header {
    background: url('/Content/res/header.png') no-repeat transparent;
}

.tool-header2 {
    background: url('/Content/res/header2.png') no-repeat transparent;
}

.tool-footer {
    background: url('/Content/res/footer.png') no-repeat transparent;
}

.tool-navbar {
    background: url('/Content/res/navbar.png') no-repeat transparent;
}

.tool-grid {
    background: url('/Content/res/grid.png') no-repeat transparent;
}

.tool-controlgroup {
    background: url('/Content/res/controlgroup_widget.png') no-repeat transparent;
}
