.note {
    font-size: 12pt;
    color: #888888;
    font-style: italic;
}

.questionSign {
    width: 20px;
    height: 20px;
}
.myTooltip {
    display: inline-block;
    margin: 0px 5px 10px 5px;
    cursor: help;
}

.textTooltip {
    padding: 3px;
    background-color: #ffeaa6;
}

.myTooltip div {
    z-index: 100;
    display: inline-block;
    max-width: 40%;
    background-color: #ffeaa6;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #000;
    margin-top: -24px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-size: 11pt;
    float: left;
}

.myTooltip div span {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
}

.myTooltip:hover div {
    opacity: 1;
    visibility: visible;
}