*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link-tools .tool-remove { display: none }

.container
{
    padding-top: 10px;
    max-width: 990px;
}

#diagramContent {
    position: relative;
}

#diagram_paper {
    position: relative;
    height: 450px;
    border: 1px solid gray;
    overflow: scroll;
}

.centerSpinner {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 100px;
    height: 100px;
    background: url('ajax-loader.gif') no-repeat;
}

#diagram_paper svg {
    background: #ffffff url('bg.png');
}

#twoDModelContent {
    position: relative;
}

#twoDModel_stage {
    position: relative;
    height: 450px;
    border: 1px solid gray;
    background: #ffffff;
    overflow: scroll;
}

#palette {
    height: 900px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    background: #ffffff;
}

.elementImg {
    margin-right: 5px;
}

#properties {
    height: 250px;
    width: 100%;
}

#property_table {
    text-align: center;
    width: 100%;
}

.table th {
    text-align: center;
    width: 45%;
    font-size: 1.2em;
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.mydropdown {
    width: 100%;
    max-width: 100%;
}

.spinner {
    width: 100%;
    max-width: 100%;
}

.tree_element {
    cursor:pointer;
    display: inline-block
}

#elements {
    width: 100%;
}

#elements_tree {
    position: absolute;
    top: 320px;
    left: 17px;
    right: 17px;
    bottom: 15px;
    overflow: auto;
    border: 1px solid lightgray;
}

#remove {
    cursor: pointer;
}

#remove:active {
    color: #7c7c7c;
}

#submit_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#stop_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}