.questionSign {
    width: 20px;
    height: 20px;
}
.myTooltip {
    cursor: help;
}

.myTooltip:after {
    background-color: #ffeaa6;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #000;
    content: attr(data-tooltip);
    margin-top: -24px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    white-space: pre;
    font-size: 11pt;
}

.myTooltip:hover:after {
    opacity: 1;
    visibility: visible;
}

.textTooltip {
    padding: 3px;
    background-color: #ffeaa6;
}