#workspace {
    width: 900px;
    margin: 0;
}

#tools-widget {
    width: 400px;
}

#tools-widget-wrap {
    padding: 10px;
    height: 600px;
    float: left;
}

#device-wrapper {
    width: 400px;
    height: 100px;
    float: right;
}

#app-content-frame {
    width: 100%;
    height: 100%;
}

#controls {
}

.tool-bag {
    width: 165px;
    background: #fbfbfb;
    display: inline-block;
    border: 2px solid #aaa;
    margin: 3px;
}

    .tool-bag * {
        display: table;
        margin: 0 auto;
    }

    .tool-bag .tool-icon {
        margin-top: 2px;
    }

    .tool-bag .tool-title { }
