#content {
    width: 500px;
    height: 800px;
    border: 2px solid black;
    margin-left: 30px;
    margin-top: 10px;
}

#menu {
    width: 500px;
    border: 0px;
    margin-left: 30px;
    margin-top: 10px;
}

#btChange {
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
}
