#designer {
    width: 500px;
    height: 800px;
    border: 2px solid black;
    margin-left: 30px;
    margin-top: 10px;
}

#btChange {
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
}

#designerMenu {
    width: 150px;
    float: left;
    height: 100%;
}

#designerScene {
    float: right;
    width: 350px;
    height: 100%;
}
