@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

<h1>Home Page! :)</h1>
@if (@User.Identity.GetUserName().Equals(""))
{
    <p>Login first for creating projects</p>
}
else
{
    <button class="btn btn-primary" data-toggle="modal" data-target="#newProjectModal">
        Designer modal
    </button>
    <a class="btn btn-default" href="/Home/Designer">Designer</a>
    <a class="btn btn-default" href="/Projects/Create">Create Project</a>
}

<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="ProjectForm" role="form" class="form-horizontal" action="/Projects/NewProject" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create new project</h4>
                </div>
                <div class="modal-body">

                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="project_name">Project name:</label>
                            <div class="col-sm-8">
                                <input id="project_name" name="project_name" type="text" placeholder="HelloWorld" class="form-control" required="">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="project_package">Package:</label>
                            <div class="col-sm-8">
                                <input id="project_package" name="project_package" type="text" placeholder="com.example.hello" class="form-control" required="">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#newProjectModal').ajaxForm({
        success: function (response) {
            window.location.href = "/Home/Designer";
        }
    });

    $('#newProjectModal').on('submit', function (e) {
        $('#newProjectModal').modal('hide');
    })
</script>