html, body {
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: lavender;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

#diagramContent {
    height: 100%;
}

.navbar .navbar-inverse .navbar-static-top {
    height: 70px;
}

#diagram_container {
    width: 100%;
    height: calc(100% - 80px);
    height: -webkit-calc(100% - 80px); /* google, safari */
    height: -moz-calc(100% - 80px); /* firefox */
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#diagram_left-menu {
    width: 18%;
    height: 100%;
    display: inline-block;
    float: left;
    border: 1px solid gray;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#diagram_right-menu {
    width: 18%;
    height: 100%;
    display: inline-block;
    float: right;
    border: 1px solid gray;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff;
    margin-bottom: 10px;
}

#diagram_paper {
    width: 63%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    background: #ffffff url('bg.png');
    border: 1px solid gray;
    margin-bottom: 10px;
}

#property_table {
    width: 100%;
}

.table th {
    text-align: center;
    width: 45%;
    font-size: 1.2em;
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.tree_element {
    cursor:pointer;
    display: inline-block
}

#elements_tree {
    height: calc(100% - 70px);
    height: -webkit-calc(100% - 70px); /* google, safari */
    height: -moz-calc(100% - 70px); /* firefox */
    overflow: auto;
}

#remove {
    cursor: pointer;
}

#remove:active {
    color: #ffffff;
}

.elementImg {
    padding-right: 5px;
}

.mydropdown {
    width: 100%;
    max-width: 100%;
}

.spinner {
    width: 100%;
    max-width: 100%;
}
